/* колір основного тексту: #757575 */
/* колір тексту заголовків: #212121 */
/* змінний колір тексту голубий: #2196F3 */
/* білий колір тексту додатковий:  #FFFFFF */

/* bcg колір основний: #FFFFFF */
/* bcg колір другорядний: #2F303A */
/* bcg колір команда: #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --bcg-color-grey: #2f303a;
  --bcg-color-pink: #f5f4fa;

  --font-weight-700: 700;
  --font-weight-500: 500;
  --font-size-16: 16px;
  --line-height-14: 1.14;
  --line-height-19: 1.19;
}

.list {
  list-style: none;
}
/* MAIN */
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* Logo */
.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: var(--font-weight-700);
  font-size: 26px;
  line-height: var(--line-height-19);
  text-decoration: none;
}

.header-logo {
  color: var(--black-color);
}

.footer-logo {
  color: var(--white-color);
}

/* Navigation */

.nav-link {
  color: var(--title-text-color);

  font-weight: var(--font-weight-500);
  line-height: var(--line-height-14);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

/* Contacts */
.contacts {
  color: var(--primary-text-color);

  font-weight: var(--font-weight-500);
  line-height: var(--line-height-14);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--bcg-color-grey);
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  background-color: var(--accent-color);
  color: var(--white-color);

  font-weight: var(--font-weight-700);
  font-size: var(--font-size-16);
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: inherit;

  cursor: pointer;
}

/* Sections */

/* Section Benefits */
.benefits-title {
  color: var(--title-text-color);

  line-height: var(--line-height-14);
  text-transform: uppercase;
}

.section-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Section team */
.section-team {
  background-color: var(--bcg-color-pink);
}

.names {
  color: var(--title-text-color);

  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: var(--line-height-19);
  text-align: center;
}

.profession {
  font-size: var(--font-size-16);
  line-height: var(--line-height-19);
  text-align: center;
}

/* Footer */
.footer {
  background-color: var(--bcg-color-grey);
}

.footer-address {
  color: var(--white-color);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address,
.footer-contacts {
  font-style: normal;
  text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* PORTFOLIO */
/* Buttons */
.selector-button {
  color: var(--title-text-color);
  background-color: var(--bcg-color-pink);

  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: 1.62;
  font-family: inherit;

  cursor: pointer;
}

.selector-button:hover,
.selector-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Gallery */
.gallery-title {
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  color: var(--primary-text-color);

  font-size: var(--font-size-16);
  line-height: 1.89;
}

.list-link {
  text-decoration: none;
}
